name: build-and-deploy.yml
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker Image
        run: |
          cd company
          docker build -t ${{ secrets.DOCKER_USERNAME }}/cvconnect-fe:latest -f Dockerfile .
          docker push ${{ secrets.DOCKER_USERNAME }}/cvconnect-fe:latest

      - name: Install cloudflared
        run: |
          curl -fsSL https://pkg.cloudflare.com/cloudflare-main.gpg \
            | sudo tee /usr/share/keyrings/cloudflare-main.gpg >/dev/null
      
          echo "deb [signed-by=/usr/share/keyrings/cloudflare-main.gpg] \
          https://pkg.cloudflare.com/cloudflared $(lsb_release -cs) main" \
          | sudo tee /etc/apt/sources.list.d/cloudflared.list
      
          sudo apt update
          sudo apt install -y cloudflared

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          
          cat <<EOF > ~/.ssh/config
          Host ${{ secrets.SSH_HOST }}
          User ${{ secrets.SSH_USER }}
          IdentityFile ~/.ssh/id_ed25519
          ProxyCommand cloudflared access ssh --hostname %h
          EOF
          
          chmod 600 ~/.ssh/config

      - name: Deploy
        run: |
          ssh -o StrictHostKeyChecking=no \
              ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
          
            docker pull ${{ secrets.DOCKER_USERNAME }}/cvconnect-fe:latest
          
            docker stop cvconnect-fe || true
            docker rm cvconnect-fe || true
          
            docker network inspect cvconnect-network >/dev/null 2>&1 \
              || docker network create cvconnect-network
          
            docker run -d \
              --restart=unless-stopped \
              --name cvconnect-fe \
              --network cvconnect-network \
              -p 3000:3000 \
              ${{ secrets.DOCKER_USERNAME }}/cvconnect-fe:latest
          EOF